@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-jakarta: var(--font-jakarta);
  --animate-bounce-x: bounce-x 0.3s ease-in-out 2 both;
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}
@utility font-inter {
  font-family: var(--font-inter);
}
@utility font-jakarta {
  font-family: var(--font-jakarta);
}
body {
  font-family: var(--font-inter);
}
